<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/cadastro" method="post">
            <label>Nome</label>
            <input type="text" name="name"><br />
            <label>Email</label>
            <input type="text" name="email"><br />
            <label>Password</label>
            <input type="text" name="password"><br />
            <label>Birth</label>
            <input type="text" name"birth"><br />
            <label>Rua</label>
            <input type="text" name="address"><br />
            <label>Bairro</label>
            <input type="text" name="district"><br />
            <label>Cidade</label>
            <input type="text" name="city"><br />
            <label>País</label>
            <input type="text" name="contry"><br />
            <input type="submit" value="Cadastrar Usuário">
        </form>
    </body>
</html>